# General
__pycache__/
node_modules/
dist/
build/
.env
*.log
*.lock

# Python
*.pyc
.venv/
venv/
env/

# FastAPI / DB
*.db
*.sqlite
instance/

# Vite
.vite

# IDEs / Editors
.vscode/
.idea/

# OS
.DS_Store

# Temp / Backups
*.swp
*.bak

# Testing
.coverage
coverage.xml
htmlcov/
